<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <foot th:fragment="footer">
        <div class="flex flex-col w-full h-fit bg-[#374151] text-[#e5e7eb] px-14 py-14">
            <div class="flex flex-row">
                <div class="flex flex-col gap-2 justify-center w-[35%] w-[35%]">
                    <div class="flex items-center w-full gap-4">
                        <img src="/assets/images/logo_grayscale_inverted.svg" width="120" alt="Logo Preview">

                        <!---->
                        <div class="text-5xl  ">Moto Rent</div>
                        <!---->
                    </div>
                    <!---->
                </div>
                <div class="flex flex-row w-[65%] justify-end gap-16 text-nowrap">
                    <div class="grid grid-cols-3 gap-24">
                        <div class="flex flex-col gap-2">
                            <div class="font-bold uppercase text-[#9ca3af] pb-3">Explore</div> <a href="#xxx" class="hover:underline">Features</a>  <a href="#xxx" class="hover:underline">Docs</a>  <a href="#xxx" class="hover:underline">Pricing</a>  <a href="#xxx" class="hover:underline">Security</a>
                        </div>
                        <!---->
                        <div class="flex flex-col gap-2">
                            <div class="font-bold uppercase text-[#9ca3af] pb-3">Comany</div> <a href="#xxx" class="hover:underline">About Us</a>  <a href="#xxx" class="hover:underline">Contact</a>  <a href="#xxx" class="hover:underline">Support</a>  <a href="#xxx" class="hover:underline">News</a>
                        </div>
                        <!---->
                        <div class="flex flex-col gap-2">
                            <div class="font-bold uppercase text-[#9ca3af] pb-3">Legal</div> <a href="#xxx" class="hover:underline">Imprint</a>  <a href="#xxx" class="hover:underline">Privacy Policy</a>  <a href="#xxx" class="hover:underline">Terms of Use</a>
                        </div>
                        <!---->
                    </div>
                    <div class="flex flex-col gap-2">
                        <div class="font-bold uppercase text-[#9ca3af] pb-3">Newsletter</div>
                        <p class="text-[#e5e7eb] mb-2">Subscribe to our newsletter.</p>
                        <form class="flex items-center">
                            <input type="email" name="email" placeholder="Enter your email" class="w-full bg-gray-100 text-gray-700 rounded-l-lg py-3 px-4 focus:outline-hidden focus:ring-purple-600 focus:border-transparent" autocomplete="off" required="">
                            <button type="submit" class="bg-[#7e22ce] text-[#ffffff] font-semibold py-3 px-6 rounded-r-lg transition-colors duration-300">Subscribe</button>
                        </form>
                    </div>
                    <!---->
                </div>
            </div>
            <div class="w-full border-t border-gray-500 my-8"></div>
            <div class="text-center">© 2025 Your Companys - All rights reserved.</div>
            <!---->
        </div>
    </foot>


</body>
</html>