<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/assets/css/fragments/nav-side.css}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div th:fragment="nav-side" class="nav-bar">
        <div class="profile-contain">
            <a href="/profile">
                <div class="profile-content">
                    <p class="logo-profile">A</p>
                    <p>Admin</p>
                </div>
            </a>
        </div>
        <div class="search-container">
            <img th:src="@{/assets/images/icon-search.png}" alt="">
            <input type="text" placeholder="Tìm kiếm" name="" id="">
        </div>
        <div class="menu">
            <h4 class="heading-menu">CHUNG</h4>
            <hr style="border: 0.5px dot-dash #555555;">
            <div class="menu-item" th:classappend="${currentUri == '/'} ? 'active'">
                <a href="/">Trang chủ</a>
            </div>
            <div class="menu-item" th:classappend="${currentUri.startsWith('/customers')} ? 'active'">
                <img src="" alt="">
                <a href="/customers">Khách hàng</a>
            </div>
            <div class="menu-item" th:classappend="${currentUri.startsWith('/rentals')} ? 'active'">
                <img src="" alt="">
                <a href="/rentals">Đơn hàng</a>
            </div>
            <div class="menu-item" th:classappend="${currentUri.startsWith('/vehicles')} ? 'active'">
                <img src="" alt="">
                <a href="/vehicles">Phương tiện</a>
            </div>

            <h4 class="heading-menu" sec:authorize="hasAuthority('ADMIN')">QUẢN LÝ</h4>
            <hr style="border: 1px dot-dash #555555;">

            <div class="menu-item" sec:authorize="hasAuthority('ADMIN')" th:classappend="${currentUri.startsWith('/staffs')} ? 'active'">
                <img src="" alt="">
                <a href="/staffs">Nhân viên</a>
            </div>

            <div class="menu-item" sec:authorize="hasAuthority('ADMIN')" th:classappend="${currentUri.startsWith('/auditlogs')} ? 'active'">
                <img src= "" alt= "">
                <a href="/auditlogs">Hoạt động</a>
            </div>

            <hr style="border: 0.5px dot-dash #555555;">
            <div class="menu-item">
                <img src="" alt="">
                <a th:href="@{/logout}">Đăng xuất</a>
            </div>
        </div>

    </div>
</body>
</html>