<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/assets/css/pages/vehicle/index.css}">
    <link rel="stylesheet" th:href="@{/assets/css/fragments/nav-side.css}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
</head>
<body>
<div class="main-container">
    <div th:insert="fragments/nav-side :: nav-side"></div>
    <div class="vehicle-manager-container">
        <h2 class="heading-page">Quản lý phương tiện</h2>
        <div class="add-btn">
            <a href="">Thêm phương tiện</a>
        </div>
        <div class="table-container">
            <table id="myTable" class="display">
                <thead>
                <tr>
                    <th>Mã</th>
                    <th>Tên</th>
                    <th>Hãng</th>
                    <th>Giá thuê</th>
                    <th>Biển số</th>
                    <th>Mô tả</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Vision</td>
                    <td>Honda</td>
                    <td>60000đ</td>
                    <td>29E2-12345</td>
                    <td>Xe ga đời mới</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Vision</td>
                    <td>Honda</td>
                    <td>60000đ</td>
                    <td>29E2-12345</td>
                    <td>Xe ga đời mới</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Vision</td>
                    <td>Honda</td>
                    <td>60000đ</td>
                    <td>29E2-12345</td>
                    <td>Xe ga đời mới</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Vision</td>
                    <td>Honda</td>
                    <td>60000đ</td>
                    <td>29E2-12345</td>
                    <td>Xe ga đời mới</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Vision</td>
                    <td>Honda</td>
                    <td>60000đ</td>
                    <td>29E2-12345</td>
                    <td>Xe ga đời mới</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Vision</td>
                    <td>Honda</td>
                    <td>60000đ</td>
                    <td>29E2-12345</td>
                    <td>Xe ga đời mới</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Vision</td>
                    <td>Honda</td>
                    <td>60000đ</td>
                    <td>29E2-12345</td>
                    <td>Xe ga đời mới</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Vision</td>
                    <td>Honda</td>
                    <td>60000đ</td>
                    <td>29E2-12345</td>
                    <td>Xe ga đời mới</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Vision</td>
                    <td>Honda</td>
                    <td>60000đ</td>
                    <td>29E2-12345</td>
                    <td>Xe ga đời mới</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Vision</td>
                    <td>Honda</td>
                    <td>60000đ</td>
                    <td>29E2-12345</td>
                    <td>Xe ga đời mới</td>
                </tr>
                </tbody>
            </table>


        </div>


    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>



<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        new DataTable("#myTable", {
            paging: true,        // Bật phân trang
            searching: true,     // Bật tìm kiếm
            ordering: true,      // Cho phép sắp xếp
            info: true,          // Hiển thị số dòng đang xem
            lengthMenu: [10, 20, 30, 40], // Tùy chọn số dòng hiển thị
            language: {
                search: "Tìm kiếm:",
                lengthMenu: "Hiển thị _MENU_ dòng",
                info: "Hiển thị _START_ đến _END_ của _TOTAL_ dòng",
                paginate: {
                    first: "Đầu",
                    last: "Cuối",
                    next: "Tiếp",
                    previous: "Trước"
                }
            }
        });
    });
</script>
</body>
</html>