<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/assets/css/pages/vehicle/edit.css}">
    <link rel="stylesheet" th:href="@{/assets/css/fragments/nav-side.css}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
<div class="main-container">
    <div th:insert="fragments/nav-side :: nav-side"></div>

    <div class="page-container">
        <a href="/vehicle">Quay lại</a>
        <h2 class="heading-page">Thông tin chi tiết nhân viên</h2>
        <p class="item-id"></p>
        <button id="editButton" class="edit-btn bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Chỉnh sửa</button>
        <form action="">
            <div class="grid grid-cols-12 gap-4 mt-4">
                <div class="col-span-6">
                    <div class="input-contain">
                        <label for="username" class="block mb-1 font-medium">Tên đăng nhập</label>
                        <input type="text" id="username" name="username" class="w-full border border-gray-300 rounded-md p-2" placeholder="Nhập tên đăng nhập" readonly />
                    </div>
                </div>
                <div class="col-span-6">
                    <div class="input-contain">
                        <label for="password" class="block mb-1 font-medium">Mật khẩu</label>
                        <input type="password" id="password" name="password" class="w-full border border-gray-300 rounded-md p-2" placeholder="Nhập mật khẩu" readonly />
                    </div>
                </div>
                <div class="col-span-6">
                    <div class="input-contain">
                        <label for="fullName" class="block mb-1 font-medium">Tên nhân viên</label>
                        <input type="text" id="fullName" name="fullName" class="w-full border border-gray-300 rounded-md p-2" placeholder="Nhập tên nhân viên" readonly />
                    </div>
                </div>
                <div class="col-span-6">
                    <div class="input-contain">
                        <label for="email" class="block mb-1 font-medium">Email</label>
                        <input type="email" id="email" name="email" class="w-full border border-gray-300 rounded-md p-2" placeholder="Nhập email" readonly />
                    </div>
                </div>

                <div class="col-span-6">
                    <div class="input-contain">
                        <label for="phone" class="block mb-1 font-medium">Số điện thoại</label>
                        <input type="text" id="phone" name="phone" class="w-full border border-gray-300 rounded-md p-2" placeholder="Nhập số điện thoại" readonly />
                    </div>
                </div>
                <div class="col-span-6">
                    <div class="input-contain">
                        <label for="role" class="block mb-1 font-medium">Chức vụ</label>
<!--                        <input type="text" id="role" name="role" class="w-full border border-gray-300 rounded-md p-2" readonly />-->
                        <select name="role" id="role" class="w-full border border-gray-300 rounded-md p-2" readonly>
                            <option value="">Nhân viên</option>
                            <option value="">Quản lý</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="btn-container flex space-x-4 mt-4">
                <button id="confirmButton" class="confirm-btn flex-1 py-2 " disabled>Đồng ý</button>
                <button class="cancel-btn flex-1 py-2">Hủy</button>
            </div>
        </form>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script>
    const editButton = document.getElementById("editButton");
    const confirmButton = document.getElementById("confirmButton");
    const email = document.getElementById("email");
    const phone = document.getElementById("phone");

    // Chỉnh sửa và lưu
    editButton.addEventListener("click", function() {
        // Kiểm tra nếu trạng thái đang ở chế độ "Chỉnh sửa"
        if (editButton.textContent === "Chỉnh sửa") {
            // Bật/tắt chế độ chỉnh sửa các input
            email.disabled = false;
            phone.disabled = false;

            // Thay đổi text của nút Chỉnh sửa -> Lưu
            editButton.textContent = "Lưu";
            confirmButton.disabled = false;

        } else {
            // Khi bấm Lưu, chuyển về trạng thái ban đầu
            email.disabled = true;
            phone.disabled = true;

            // Thay đổi text của nút Lưu -> Chỉnh sửa
            editButton.textContent = "Chỉnh sửa";
            confirmButton.disabled = true;  // Vô hiệu hóa nút Xác nhận khi không chỉnh sửa

        }
    });

</script>


</body>
</html>